* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Top Banner styles */
header {
    height: 800px;
}

.top-banner {
    height: 800px;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

.banner-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 600px;
    padding: 200px 50px 150px 600px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    margin-bottom: 20px;
}

.banner-description {
    line-height: 27px;
    width: 500px;
    color: #444343;
    margin-bottom: 25px;
}

.btn-primary{
    padding: 20px 35px;
    color: #ffff;
    background-color: rgb(249, 74, 44);
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

/* Failure Styles */
.failure{
    height: 800px;
    padding: 100px 200px;
}

.failure-contents{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.failure-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 15px;
    color: #0d0c0c;
}


.image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #cfcfcf5e;
    border-radius: 50%;    
}
.texts .failure-description{
    line-height: 28px;
    font-size: 15px;
    color: #353535;
    margin-bottom: 15px;
}

.failure-points{
    padding-left: 15px;
}
.failure-points i{
    color: #353535;
}